<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Faux Real- Fake News or Not?</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- Grid CSS -->
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/component.css">
	<!-- News Modal -->
	<link rel="stylesheet" href="css/newmodal.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Railway" rel="stylesheet">
	<!-- Favicon -->
	<link rel="shortcut icon" href="http://jonathanrosen.com/wp-content/uploads/2017/07/trump-twitter-bird-300x300.png" />
	<!-- Main CSS -->
	<link rel="stylesheet" href="css/main.css" media="screen" title="no title">
	<!-- Firebase Link -->
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="wrapper">
	<!-- Chat Slide Out -->

	<nav class="navbar navbar-light bg-light justify-content-between">

	<span id="chatText" style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776; chat</span>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<!-- Chat -->
    	 <div id="chatBox">
			<form class="chatForm">
				<div class="row">
					<div class="large-12 columns">
					    <div id='messagesDiv' class="msg-wrapper"></div>
					    <br>
					</div>
				</div>

				<div class="textboxes">
					<div class="row">
						<div class="large-12 columns">
						    <span class="error"></span>
						    <label>
							<br>
							<input type="text" id='nameInput' placeholder='Name' />
							</label>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
						    <label>
							<br>
							<textarea id='messageInput' placeholder='Message'></textarea>
							<input type="submit" value="Submit" id="submit">
							</label>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div class="input-group" id="search-form">
	  <input type="text" class="form-control" aria-label="...">
	  <div class="input-group-btn">
 			<button type="button" class="btn btn-default" id="search-submit"><span class="glyphicon glyphicon-search"></span></button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> <span class="caret"></span></button>
	        <ul class="dropdown-menu dropdown-menu-right" id="advancedOptions">

	          	<li id="advNews">
	          		<form action="">

					  	<input type="radio" name="newsSource" classe= "radio" id="all" checked> All <br><br>
					  	<input type="radio" name="newsSource" classe= "radio" id="cnn"> CNN <br><br>
					  	<input type="radio" name="newsSource" classe= "radio" id="the-wall-street-journal"> Wall Street Journal <br><br>
					  	<input type="radio" name="newsSource" classe= "radio" id="the-huffington-post"> Huffington Post <br><br>
					  	<input type="radio" name="newsSource" classe= "radio" id="vice-news"> Vice News <br><br>
					  	<input type="radio" name="newsSource" classe= "radio" id="usa-today"> USA Today <br><br>
					  	<input type="radio" name="newsSource" classe= "radio" id="google-news"> Google News <br><br>
					  	<input type="radio" name="newsSource" classe= "radio" id="buzzfeed"> BuzzFeed <br><br>

						<!-- <div class="input-group">
						    <span class="input-group-addon">
						        <input type="checkbox">
						    </span>
						    <input type="text" class="form-control" placeholder="Other">
						</div> --><!-- /input-group -->

					</form>
	          	</li>

	          	<li role="separator" class="divider"></li>

	          	<li id="advDate">
	          		Search Dates (start date, stop date) <br><br>
			  		<input type="date" class="form-control" placeholder="Start Date" >
  					<input type="date" class="form-control" placeholder="End Date" >

	          	</li>
	        </ul>
	        </div>
	        <div class="input-group-btn">
	        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" area-expanded="false"><span class="glyphicon glyphicon-user"></span></button>
	        <ul class="dropdown-menu" id="userInfo">
	        	<li id="profileName" class="text-center">Username:<br> <%= user.userName || user.google.email%> </li>  <br>

	        	<li id="profileEmailLabel" class="text-center">Email:<br> <span id="profileEmail"> <%= user.email || user.google.email%> </span></li>
	        	<!-- <br><br>
	        	<li id="profilePic" class="text-center">Pic:<br> <%= user.image %> </li> -->
	        	<li role="separator" class="divider"></li>
	        	<form method="get" action="/logout">
	        		<button id="logoutbutton">log-out</button>
	        	</form>
	        </ul>
	        </div>
        </div>

	  <h1 id="title">
      	<a href="/main" id="headerText">FAUX REAL</a>
	  </h1>

	</div>

	<br>
	<br>
	<br>
	<!-- Nav -->
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation"><a class="navLinks" id="business">Business</a></li>
		<li role="presentation"><a class="navLinks" id="sports">Sports</a></li>
		<li role="presentation"><a class="navLinks" id="trending" href="/main">Home</a></li>
		<li role="presentation"><a class="navLinks" id="technology">Technology</a></li>
		<li role="presentation"><a class="navLinks" id="entertainment">Entertainment</a></li>
	</ul>
</nav>

	<div class="container">
    	<div class="row">
	      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" id="topArticles">
	        <div class="panel">
				<div class="panel-body" id="div-section">
					<!-- ============================================================================= -->
					<!-- Grid -->
					<div class="container">
						<h1 class="text-center">Trending</h1>


						<div class="main">
							<ul id="og-grid" class="og-grid">
								<li>
									<div id="two" class="button">
										<a href="#">
											<div class="tileContent tile1">
												<p class="tileTitle">Example Title</p>
												<p class="tileSource">CNN</p>
												<p class="tileDate">Date</p>
												<!-- Voting bar -->
												<div class="voteContainer">
													<div class="notFakeVote">70%</div>
												</div>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div id="two" class="button">
										<a href="#">
											<div class="tileContent tile2">
												<p class="tileTitle">Example Title</p>
												<p class="tileSource">CNN</p>
												<p class="tileDate">Date</p>
												<!-- Voting bar -->
												<div class="voteContainer">
													<div class="notFakeVote">70%</div>
												</div>
											</div>
										</a>
									</div>

								</li>
								<li>
									<div id="two" class="button">
										<a href="#">
											<div class="tileContent tile3">
												<p class="tileTitle">Example Title</p>
												<p class="tileSource">CNN</p>
												<p class="tileDate">Date</p>
												<!-- Voting bar -->
												<div class="voteContainer">
													<div class="notFakeVote">70%</div>
												</div>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div id="two" class="button">
										<a href="#">
											<div class="tileContent tile4">
												<p class="tileTitle">Example Title</p>
												<p class="tileSource">CNN</p>
												<p class="tileDate">Date</p>
												<!-- Voting bar -->
												<div class="voteContainer">
													<div class="notFakeVote">70%</div>
												</div>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div id="two" class="button">
										<a href="#">
											<div class="tileContent tile5">
												<p class="tileTitle">Example Title</p>
												<p class="tileSource">CNN</p>
												<p class="tileDate">Date</p>
												<!-- Voting bar -->
												<div class="voteContainer">
													<div class="notFakeVote">70%</div>
												</div>
											</div>
										</a>
									</div>
								</li>
							</ul>
						</div>
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
   						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div><!-- /container -->
					<!-- ========================================================================== -->
					<!-- End of grid -->
	          	</div>



	        </div>
	      </div>
	    </div>
	</div>

	<!-- MODAL -->
	<div class="putinmodal"></div>
	<!-- <div id="modal-container">
	  <div class="modal-background">
	  <div class="modal">
			<iframe id="myFrame" src="http://www.latimes.com/local/lanow/la-me-pomona-officer-shot-20180309-story.html" style="height:500px;width:900px"></iframe>
			<br>

			<h3>Vote if Real or Faux</h3>
			<br>
			<!-- ==================================== -->
			<!-- Voting buttons -->

				<div id="button-div">
					<button class="btn voteButton .realButton glyphicon glyphicon-ok" id='real-button'></button>
					<button class="btn voteButton .fauxButton glyphicon glyphicon-remove" id='faux-button'></button>
				</div>

			<br>

			<div class="voteContainer" style="display: block;margin:auto"><div class="notFakeVote" style="width: 50%">50%</div></div>
	    </div>
	  </div>
	</div> -->

	</div>
	<!-- Modal JS -->

	<script>
		// $('.button').click(function(){
		//   var buttonId = $(this).attr('id');
		//   $('#modal-container').removeAttr('class').addClass(buttonId);
		//   $('body').addClass('modal-active');
		// })

		// $('#modal-container').click(function(){
		//   $(this).addClass('out');
		//   $('body').removeClass('modal-active');
		// });


		// // iFrame
		// var iframe = document.getElementById("myFrame");
		// var elmnt = iframe.contentWindow.document.getElementsByTagName("H1")[0];
		// elmnt.style.display = "none";

	</script>



	<script>
		// Initialize Firebase
		//$("#topArticles").hide();

		var config = {
			apiKey: "AIzaSyA7uWeljdVkI-dTT5T48pxGqYX0d5FxkLY",
			authDomain: "project-28f23.firebaseapp.com",
			databaseURL: "https://project-28f23.firebaseio.com",
			projectId: "project-28f23",
			storageBucket: "project-28f23.appspot.com",
			messagingSenderId: "294037184898"
		};

		firebase.initializeApp(config);

		var database = firebase.database();

		// CHAT LISTENERS
	    $("#submit").on("click", function(event) {
			event.preventDefault();
			var name = $('#nameInput').val().trim();
			var text = $('#messageInput').val().trim();
			if (name == "" || text == "") {
				$(".error").text("All fields required.")
			}
			else {
				database.ref().push({name: name, text: text});
				$('#messageInput').val('');
				$(".error").text("")
			}
	    });
	    database.ref().on('child_added', function(snapshot) {
			var message = snapshot.val();
			displayChatMessage(message.name, message.text);
	    });

	    function displayChatMessage(name, text) {
			$('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
			$('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
	    };

		//=============================================================
		//Navigation
		function openNav() {
		    document.getElementById("mySidenav").style.width = "300px";
		}

		function closeNav() {
		    document.getElementById("mySidenav").style.width = "0";
		}

	</script>
  	<script src="./js/search.js" type="text/javascript"></script>

	<script src="./js/vote.js" type="text/javascript"></script>
	<script src="./js/carousel.js" type="text/javascript"></script>
	
	<div style="height: 50px;background-color: white"></div>
	<br>
	<br>
  	<div class="text-center">
    	<footer class="page-footer" style="color:white;padding-top:5px;background-color:#000044"><a id="footer" href="https://github.com/deegiialt/Faux-Real">Copyright &copy; 2018 - Faux Real Group<br>powered by NewsAPI</a></footer>
  	</div>
</body>
</html>
