body {
    background-color: #000044;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

#title {
  font-size: 80px;
  color: white;
  font-weight: bold;
  letter-spacing: 6px;
  margin bottom: 20px;
  text-align: center;
}

#headerText {
    color: white;
    text-decoration: none;
}

/*===============================================*/
/*Sidebar*/
/*===============================================*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cccccc;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*===============================================*/
/*CHAT*/
/*===============================================*/

.chatForm {
    font-family: Roboto, sans-serif;
    max-width: 260px;
    height: 600px;
    margin: 10px auto;
    border-radius: 5px;
}

.msg-wrapper {
    max-height: 400px;
    overflow: auto;
}

.msg-wrapper div {
    font-size: 16px;
}

.textboxes {
	margin-top: 80%;
}

.columns {
    padding-left: 25px;
}

#nameInput,
textarea {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
}

.error {
    color: red;
    font-size: -2em;
}

input[type=submit] {
    width: 30%;
    background-color: #cccccc;
    cursor: pointer;
}

#messagesDiv {
    color: black;
}

#chatText {
    margin: 15px;
}

/*===============================================*/
/*NAV*/
/*===============================================*/

#search-form {
    float: right;
    margin: 15px;
    max-width: 23%;
}

#advancedOptions,
#userInfo {
    padding: 15px;
}

#logoutbutton {
    padding: 5px;
    display: block;
    margin: 0 auto;
}

#userInfo {
    position: absolute;
    left: -120px;
}

.nav>li>a {
    color: white;
}

.navLinks:hover {
   cursor: crosshair;
   color: #cccccc;
   background-color: #000044 !important;
}

input.form-control, .btn-default {
    border-radius: 0 !important;
}

/*===============================================*/
/*Results panel*/
/*===============================================*/
.panel {
    border-radius: 0;
    margin:0;
}

#topArticles {
    padding:0;
    height: auto;
}

/*===============================================*/
/*Tile Content*/
/*===============================================*/
li a:hover {
    text-decoration: none;
    cursor: crosshair;
}

.tileContent:hover {
    background-color: #337d8180;
}

.tileContent {
    width: 250px;
    height: 250px;
  /*  background-color: #337d81b8;*/
    color:white;
}

.tileOne {
    background: #ee4035;
}

.tileTwo {
    background: #f37736;
}

.tileThree {
    background: #f1e56c;
}

.tileFour {
    background: #7bc043;
}

.tileFive {
    background: #0392cf;   
}

.tileTitle {
    padding-top: 30px;
}


/*===============================================*/
/*Button*/
/*===============================================*/
.voteButton {
    /*background-color: #337d81b8;*/
    background-color: white;
    outline-offset: 0;
    color: #000044;
}

/*Voting bars*/
.notFakeVote {
    width:70%;
    background-color: #cccccc;
}

.voteContainer {
    background-color: white;
    margin: 15px;
}

